<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hero - Admin</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  <header>
    <div class="page-header container">
      <h1><a href="/">亡者农药</a> <small>英雄管理器</small></h1>
    </div>
  </header>
  <div class="container hero-list">
    <form id="form">
      <div class="form-group" style="display: none;">
        <label>英雄id</label>
        <input type="text" name="id" class="form-control" value="{{id}}">
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">英雄名称</label>
        <div class="col-sm-10">
          <input type="text" name="name" class="form-control" value="{{name}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">性别</label>
        <div class="col-sm-10">
          <label class="radio-inline">
            {{if gender=='男'}}
            <input type="radio" value="男" name="gender" checked> 男
            {{else}}
            <input type="radio" value="男" name="gender"> 男
            {{/if}}
          </label>
          <label class="radio-inline">
            {{if gender=='女'}}
            <input type="radio" value="女" name="gender" checked> 女
            {{else}}
            <input type="radio" value="女" name="gender"> 女
            {{/if}}
          </label>
        </div>
      </div>
      <div class="form-group" style="display: none;">
        <label class="col-sm-2 control-label">创建时间</label>
        <div class="col-sm-10">
          <input type="text" name="date" class="form-control" value="{{date}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">创建时间</label>
        <div class="col-sm-10">
          {{date}}
        </div>
      </div>
      <div class="form-group">
        <label>英雄地址</label>
        <input type="text" name="address" class="form-control" value="{{address}}">
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" data-id='{{id}}'>保存修改</button>
        </div>
      </div>
    </form>
  </div>
  <script src="../js/jquery-1.12.2.js"></script>
  <script>
    $(function () {
      // 编辑功能开始
      $('.btn-primary').on('click', (e) => {
        console.log('开始编辑')
        e.preventDefault();
        $.ajax({
          type: 'post',
          url: '/editHeroInfo',
          data: $('#form').serialize(),
          dataType: 'json',
          success: function (res) {
            if (res.code == 200) {
              location.href = '/'
            } else {
              location.reload();
            }
          }
        })
      })
      // 编辑功能结束
    })
  </script>
</body>

</html>